


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif; /*tipo de letras, podemos poner un apis*/ 

}




.btn
{
    position: absolute; /* cambia el valor de la posicion del boton, estaba en relative*/
    top: 650px; ;
    bottom: ;
    right: ;
    left: ;
    display: inline-flex;
    padding: 20px 30px;
    background: #363636;
    color:#fff;
    text-decoration: solid #2196f3;
    letter-spacing: 1px;
    overflow: hidden;

}

.btn span
{

    position: relative;
    z-index: 1;
}






.btn::before
{
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%,-50%);

    width: 0;
    height: 0;
    border-radius: 50%;
    background: #2196f3;
    transition: width 0.5s, height 0.5s;

}
.btn:hover::before
{
    width: 300px;
    height: 300px;
}


