*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}

.container
{
    position: relative ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .ring
{
    position: relative;
    width: 150px;
    height: 150px;
    margin: -30px;
    border-radius: 50%;
    border: 4px solid transparent;

    border-top: 4px solid #24ecff;
    animation: animate 4s linear infinite;
}

@keyframes animate
{
    0%
{
    transform: rotate(0deg);
}
100%
{
    transform:rotate(360deg)
}
}




.container .ring::before
{
    content:'';
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background:#24ecff ;
    box-shadow: 0 0 0 5px #24ecff33,
    0 0 0 10px #24ecff22,
    0 0 0 20px #24ecff11,
    0 0 20px #24ecff,
    0 0 50px #24ecff;

}



.container .ring:nth-child(2)
{
    animation: animate2 4s linear infinite;
    animation-delay: -1s; /*controla el tiempo en el que inicia la animacion*/
    border-top: 4px solid transparent;
    border-left: 4px solid #93ff2d; /*cabia el color de la lina*/



}

.container .ring:nth-child(2)::before
{
    content:'';
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background:#93ff2d ; /* cambia el color de las bolitas jjaja*/
    box-shadow: 0 0 0 5px #93ff2d33,
    0 0 0 10px #93ff2d22,
    0 0 0 20px #93ff2d11,
    0 0 20px #93ff2d,
    0 0 50px #93ff2d;

}



@keyframes animate2
{
    0%
{
    transform: rotate(360deg);
}
100%
{
    transform:rotate(0deg)
}
}

.container .ring:nth-child(3)
{
    animation: animate2 4s linear infinite;
    animation-delay: -3s; /*controla el tiempo en el que inicia la animacion*/
    position: absolute;
    top: -66.66px;
    border-top: 4px solid transparent;/*linea*/
    border-left: 4px solid #17c591;/*color de la linea*/
}
.container .ring:nth-child(3)::before
{
    content:'';
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background:#17c591 ; /* cambia el color de las bolitas jjaja*/
    box-shadow: 0 0 0 5px #17c59133,
    0 0 0 10px #17c59122,
    0 0 0 20px #17c59111,
    0 0 20px #17c591,
    0 0 50px #17c591;

}








.container p
{
    position: absolute;
    color:#fff;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    bottom: -80px;
    letter-spacing: 0.15em;
}



footer
{
    position: absolute;
 top: 820px;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    display: flex;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;

}

footer .social_icon
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li
{
    list-style: none;
}
footer .social_icon li a

{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover
{
    transform: translateY(-10px);
}